<div>Наглядный пример. Установка соединения по протоколу TLSv1.2 (firstssl.ru)</div>
<div>
	<div class="accordion">CLIENT HELLO (Client ===> Server)</div>
	<div class="panel">
        <pre>
Frame 8535: 571 bytes on wire (4568 bits), 571 bytes captured (4568 bits) on interface \Device\NPF_{11016A17-95E3-48C5-B9CF-2522684AAD68}, id 0
Ethernet II, Src: ASRockIn_7f:6d:11 (70:85:c2:7f:6d:11), Dst: Cisco_f6:4f:c2 (e0:d1:73:f6:4f:c2)
Internet Protocol Version 4, Src: 10.0.3.80, Dst: 212.109.222.69
Transmission Control Protocol, Src Port: 65012, Dst Port: 443, Seq: 1, Ack: 1, Len: 517
Transport Layer Security
	<span class="pre-span">TLSv1.2 Record Layer: Handshake Protocol: Client Hello</span>
		Content Type: Handshake (22)
		Version: TLS 1.0 (0x0301)
		Length: 512
		<span class="pre-span">Handshake Protocol: Client Hello</span>
			Handshake Type: Client Hello (1)	
			Length: 508
			<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
			<span class="pre-span">Random: 34 3b 83 c1 d6 93 02 c2 5f 85 da 2b 9b 4d 57 3a 31 54 c4 bc e4 d8 1e e3 …
				GMT Unix Time: Oct  8, 1997 15:59:45.000000000 FLE Daylight Time
				Random Bytes: d6 93 02 c2 5f 85 da 2b 9b 4d 57 3a 31 54 c4 bc e4 d8 1e e3 09 2b 4e 2b …</span>
			Session ID Length: 32
			<span class="pre-span">Session ID: 63 2c 29 aa 8a c9 51 d8 23 c6 d6 24 d9 b8 61 2a 35 a1 cc 62 fc 2f 28 5b …</span>
			Cipher Suites Length: 32
			<span class="pre-span">Cipher Suites (16 suites)
				Cipher Suite: Reserved (GREASE) (0x4a4a)
				Cipher Suite: TLS_AES_128_GCM_SHA256 (0x1301)
				Cipher Suite: TLS_AES_256_GCM_SHA384 (0x1302)
				Cipher Suite: TLS_CHACHA20_POLY1305_SHA256 (0x1303)
				Cipher Suite: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 (0xc02b)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 (0xc02f)
				Cipher Suite: TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 (0xc02c)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 (0xc030)
				Cipher Suite: TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 (0xcca9)
				Cipher Suite: TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 (0xcca8)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA (0xc013)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA (0xc014)
				Cipher Suite: TLS_RSA_WITH_AES_128_GCM_SHA256 (0x009c)
				Cipher Suite: TLS_RSA_WITH_AES_256_GCM_SHA384 (0x009d)
				Cipher Suite: TLS_RSA_WITH_AES_128_CBC_SHA (0x002f)
				Cipher Suite: TLS_RSA_WITH_AES_256_CBC_SHA (0x0035)</span>
			Compression Methods Length: 1
			Compression Methods (1 method)
			Extensions Length: 403
			Extension: Reserved (GREASE) (len=0)
			<span class="pre-span">Extension: server_name (len=16)
				Type: server_name (0)
				Length: 16
				Server Name Indication extension
					Server Name list length: 14
					Server Name Type: host_name (0)
					Server Name length: 11
					Server Name: firstssl.ru</span>
			Extension: extended_master_secret (len=0)
			Extension: renegotiation_info (len=1)
			Extension: supported_groups (len=10)
				Type: supported_groups (10)
				Length: 10
				Supported Groups List Length: 8
				Supported Groups (4 groups)
					Supported Group: Reserved (GREASE) (0xaaaa)
					Supported Group: x25519 (0x001d)
					Supported Group: secp256r1 (0x0017)
					Supported Group: secp384r1 (0x0018)
			Extension: ec_point_formats (len=2)
			Extension: session_ticket (len=0)
			Extension: application_layer_protocol_negotiation (len=14)
			Extension: status_request (len=5)
			<span class="pre-span">Extension: signature_algorithms (len=18)
				Type: signature_algorithms (13)
				Length: 18
				Signature Hash Algorithms Length: 16
				Signature Hash Algorithms (8 algorithms)
					Signature Algorithm: ecdsa_secp256r1_sha256 (0x0403)
					Signature Algorithm: rsa_pss_rsae_sha256 (0x0804)
					Signature Algorithm: rsa_pkcs1_sha256 (0x0401)
					Signature Algorithm: ecdsa_secp384r1_sha384 (0x0503)
					Signature Algorithm: rsa_pss_rsae_sha384 (0x0805)
					Signature Algorithm: rsa_pkcs1_sha384 (0x0501)
					Signature Algorithm: rsa_pss_rsae_sha512 (0x0806)
					Signature Algorithm: rsa_pkcs1_sha512 (0x0601)</span>
			Extension: signed_certificate_timestamp (len=0)
			Extension: key_share (len=43)
				Type: key_share (51)
				Length: 43
				Key Share extension
					Client Key Share Length: 41
					Key Share Entry: Group: Reserved (GREASE), Key Exchange length: 1
					Key Share Entry: Group: x25519, Key Exchange length: 32
						Group: x25519 (29)
						Key Exchange Length: 32
						Key Exchange: a9 d5 fa 95 6c c3 6b d7 0e d8 b2 0f ed b8 e2 42 4e 87 b4 ab 93 b1 ae fe …
			Extension: psk_key_exchange_modes (len=2)
				Type: psk_key_exchange_modes (45)
				Length: 2
				PSK Key Exchange Modes Length: 1
				PSK Key Exchange Mode: PSK with (EC)DHE key establishment (psk_dhe_ke) (1)
			<span class="pre-span">Extension: supported_versions (len=11)
					Type: supported_versions (43)
					Length: 11
					Supported Versions length: 10
					Supported Version: Unknown (0x6a6a)
					Supported Version: TLS 1.3 (0x0304)
					Supported Version: TLS 1.2 (0x0303)
					Supported Version: TLS 1.1 (0x0302)
					Supported Version: TLS 1.0 (0x0301)</span>
			Extension: compress_certificate (len=3)
			Extension: Reserved (GREASE) (len=1)
			<span class="pre-span">Extension: padding (len=209)
					Type: padding (21)
					Length: 209
					Padding Data: 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 …</span>
</pre>
	</div>
</div>
<div>
    <div class="accordion">SERVER HELLO (Client <=== Server)</div>
	<div class="panel">
        <pre>
Frame 8547: 1454 bytes on wire (11632 bits), 1454 bytes captured (11632 bits) on interface \Device\NPF_{11016A17-95E3-48C5-B9CF-2522684AAD68}, id 0
Ethernet II, Src: Cisco_f6:4f:c2 (e0:d1:73:f6:4f:c2), Dst: ASRockIn_7f:6d:11 (70:85:c2:7f:6d:11)
Internet Protocol Version 4, Src: 212.109.222.69, Dst: 10.0.3.80
Transmission Control Protocol, Src Port: 443, Dst Port: 65012, Seq: 1, Ack: 518, Len: 1400
Transport Layer Security
	TLSv1.2 Record Layer: Handshake Protocol: Server Hello
		Content Type: Handshake (22)
		Version: TLS 1.2 (0x0303)
		Length: 84
		<span class="pre-span">Handshake Protocol: Server Hello</span>
			Handshake Type: Server Hello (2)
			Length: 80
			<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
			<span class="pre-span">Random: 30 22 9f 5a 8c c6 50 0b f0 5b e3 d7 7a de e0 98 26 67 27 3c c9 99 2d 3f …
				GMT Unix Time: Aug  5, 1995 01:29:46.000000000 FLE Daylight Time
				Random Bytes: 8c c6 50 0b f0 5b e3 d7 7a de e0 98 26 67 27 3c c9 99 2d 3f af 0a f3 c7 …</span>
			Session ID Length: 0
			<span class="pre-span">Cipher Suite: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 (0xc030)</span>
			Compression Method: null (0)
			Extensions Length: 40
			Extension: renegotiation_info (len=1)
			Extension: server_name (len=0)
			Extension: ec_point_formats (len=4)
			Extension: session_ticket (len=0)
			Extension: extended_master_secret (len=0)
			Extension: application_layer_protocol_negotiation (len=11)
</pre>
	</div>
</div>

<div>
    <div class="accordion">Certificate, Server Key Exchange, Server Hello Done (Client <=== Server)</div>
    <div class="panel">
        <pre>
Frame 8551: 1253 bytes on wire (10024 bits), 1253 bytes captured (10024 bits) on interface \Device\NPF_{11016A17-95E3-48C5-B9CF-2522684AAD68}, id 0
Ethernet II, Src: Cisco_f6:4f:c2 (e0:d1:73:f6:4f:c2), Dst: ASRockIn_7f:6d:11 (70:85:c2:7f:6d:11)
Internet Protocol Version 4, Src: 212.109.222.69, Dst: 10.0.3.80
Transmission Control Protocol, Src Port: 443, Dst Port: 65012, Seq: 4097, Ack: 518, Len: 1199
[4 Reassembled TCP Segments (4892 bytes): #8547(1311), #8548(1400), #8549(1296), #8551(885)]
Transport Layer Security
	TLSv1.2 Record Layer: Handshake Protocol: Certificate
		Content Type: Handshake (22)
        <span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 4887
		<span class="pre-span">Handshake Protocol: Certificate</span>
			Handshake Type: Certificate (11)
			Length: 4883
			Certificates Length: 4880
			<span class="pre-span">Certificates (4880 bytes)
				Certificate Length: 1740
				Certificate: 30 82 06 c8 30 82 05 b0 a0 03 02 01 02 02 10 04 30 65 50 68 7a 87 4f f8 … (id-at-commonName=firstssl.ru,id-at-organizationalUnitName=JSC Cloud,id-at-organizationName=AO Oblako,id-at-localityName=Irkutsk,id-at-countryName=RU,
				Certificate Length: 1190
				Certificate: 30 82 04 a2 30 82 03 8a a0 03 02 01 02 02 10 03 fe ef 1b b5 b6 48 34 9a … (id-at-commonName=GeoTrust EV RSA CA 2018,id-at-organizationalUnitName=www.digicert.com,id-at-organizationName=DigiCert Inc,id-at-countryName=US)
				Certificate Length: 969
				Certificate: 30 82 03 c5 30 82 02 ad a0 03 02 01 02 02 10 02 ac 5c 26 6a 0b 40 9b 8f … (id-at-commonName=DigiCert High Assurance EV Root CA,id-at-organizationalUnitName=www.digicert.com,id-at-organizationName=DigiCert Inc,id-at-countryNa
				Certificate Length: 969
				Certificate: 30 82 03 c5 30 82 02 ad a0 03 02 01 02 02 10 02 ac 5c 26 6a 0b 40 9b 8f … (id-at-commonName=DigiCert High Assurance EV Root CA,id-at-organizationalUnitName=www.digicert.com,id-at-organizationName=DigiCert Inc,id-at-countryNa</span>
Transport Layer Security
	TLSv1.2 Record Layer: Handshake Protocol: Server Key Exchange
		Content Type: Handshake (22)
		<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 300
		<span class="pre-span">Handshake Protocol: Server Key Exchange
			Handshake Type: Server Key Exchange (12)
			Length: 296
			EC Diffie-Hellman Server Params
				Curve Type: named_curve (0x03)
				Named Curve: x25519 (0x001d)
				Pubkey Length: 32
				Pubkey: 36 0c 88 ae ff 0a b5 3a a4 78 57 9d 3a 4a ca 3f b4 30 b2 c4 44 19 6c 32 …
				Signature Algorithm: rsa_pkcs1_sha512 (0x0601)
				Signature Length: 256
				Signature: 6e 27 09 12 e1 88 06 6a ee 93 fb 9d ea aa eb 74 00 31 50 14 37 c1 8b d1 …</span>
	TLSv1.2 Record Layer: Handshake Protocol: Server Hello Done
		Content Type: Handshake (22)
		<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 4
		<span class="pre-span">Handshake Protocol: Server Hello Done</span>
</pre>
    </div>
</div>

<div>
    <div class="accordion">Client Key Exchange, Change Cipher Spec, Encrypted Handshake Message (Client ===> Server)</div>
	<div class="panel">
        <pre>
Frame 8598: 147 bytes on wire (1176 bits), 147 bytes captured (1176 bits) on interface \Device\NPF_{11016A17-95E3-48C5-B9CF-2522684AAD68}, id 0
Ethernet II, Src: ASRockIn_7f:6d:11 (70:85:c2:7f:6d:11), Dst: Cisco_f6:4f:c2 (e0:d1:73:f6:4f:c2)
Internet Protocol Version 4, Src: 10.0.3.80, Dst: 212.109.222.69
Transmission Control Protocol, Src Port: 65012, Dst Port: 443, Seq: 518, Ack: 5296, Len: 93
Transport Layer Security
	TLSv1.2 Record Layer: Handshake Protocol: Client Key Exchange
		Content Type: Handshake (22)
		<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 37
		<span class="pre-span">Handshake Protocol: Client Key Exchange</span>
			Handshake Type: Client Key Exchange (16)
			Length: 33
			<span class="pre-span">EC Diffie-Hellman Client Params
				Pubkey Length: 32
				Pubkey: e7 78 ff f6 aa 4d 3c be 89 d8 cc 4f 4e d3 16 e4 e0 dc 0c 5c d7 63 6c 06 …</span>
	TLSv1.2 Record Layer: Change Cipher Spec Protocol: Change Cipher Spec
		Content Type: Change Cipher Spec (20)
		<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 1
		<span class="pre-span">Change Cipher Spec Message</span>
	TLSv1.2 Record Layer: Handshake Protocol: Encrypted Handshake Message
		Content Type: Handshake (22)
		<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 40
		<span class="pre-span">Handshake Protocol: Encrypted Handshake Message</span>
</pre>
	</div>
</div>

<div>
    <div class="accordion">New Session Ticket, Change Cipher Spec Message, Encrypted Handshake (Client <=== Server)</div>
	<div class="panel">
        <pre>
Frame 8608: 312 bytes on wire (2496 bits), 312 bytes captured (2496 bits) on interface \Device\NPF_{11016A17-95E3-48C5-B9CF-2522684AAD68}, id 0
Ethernet II, Src: Cisco_f6:4f:c2 (e0:d1:73:f6:4f:c2), Dst: ASRockIn_7f:6d:11 (70:85:c2:7f:6d:11)
Internet Protocol Version 4, Src: 212.109.222.69, Dst: 10.0.3.80
Transmission Control Protocol, Src Port: 443, Dst Port: 65012, Seq: 5296, Ack: 1402, Len: 258
Transport Layer Security
	TLSv1.2 Record Layer: Handshake Protocol: New Session Ticket
		Content Type: Handshake (22)
		<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 202
		<span class="pre-span">Handshake Protocol: New Session Ticket</span>
			Handshake Type: New Session Ticket (4)
			Length: 198
			<span class="pre-span">TLS Session Ticket
				Session Ticket Lifetime Hint: 300 seconds (5 minutes)
				Session Ticket Length: 192
				Session Ticket: 83 4e 6e c5 bb 92 a4 c6 e6 fe fe 62 28 a7 d1 31 e3 2c ae 51 64 58 cc 2b …</span>
	TLSv1.2 Record Layer: Change Cipher Spec Protocol: Change Cipher Spec
		Content Type: Change Cipher Spec (20)
		<span class="pre-span">Version: TLS 1.2 (0x0303)</span>
		Length: 1
		<span class="pre-span">Change Cipher Spec Message</span>
	TLSv1.2 Record Layer: Handshake Protocol: Encrypted Handshake Message
		<span class="pre-span">Content Type: Handshake (22)</span>
		Version: TLS 1.2 (0x0303)
		Length: 40
		<span class="pre-span">Handshake Protocol: Encrypted Handshake Message</span>
		</pre>
	</div>
</div>