<div>1) Какой из маршрутов будет работать при следующей конфигурации IApplicationBuilder.UseEndpoints</div>
<div>
	<div class="accordion">CLIENT HELLO</div>
	<div class="panel">
<pre>
Frame 542: 571 bytes on wire (4568 bits), 571 bytes captured (4568 bits) on interface \Device\NPF_{4A5DD31C-669B-4804-88E1-A34A482EA639}, id 0 
Ethernet II, Src: IntelCor_bc:8b:e4 (0c:8b:fd:bc:8b:e4), Dst: Tp-LinkT_ad:7e:e0 (84:16:f9:ad:7e:e0) 
Internet Protocol Version 4, Src: 192.168.81.155, Dst: 107.154.248.210 
Transmission Control Protocol, Src Port: 54380, Dst Port: 443, Seq: 1, Ack: 1, Len: 517 
Transport Layer Security 
	<span class="pre-span">TLSv1.3 Record Layer: Handshake Protocol: Client Hello
		Content Type: Handshake (22)</span>
		Version: TLS 1.0 (0x0301) 
		Length: 512 
			<span class="pre-span">Handshake Protocol: Client Hello 
			Handshake Type: Client Hello (1)</span>
			Length: 508 
			Version: TLS 1.2 (0x0303) 
			Random: 021a4e53f8a57d1da8b307c10ecc2ca43d9403f3adff1d8d3bc8a3565f2233e4 
			Session ID Length: 32 
			<span class="pre-span">Session ID: 2918358cd53f65fa9f49a272c8c775bd9ffee82a84903e50d1b048030c0fd49a</span>
			<span class="pre-span">Cipher Suites Length: 32 
				Cipher Suites (16 suites)
				Cipher Suite: Reserved (GREASE) (0x1a1a)
				Cipher Suite: TLS_AES_128_GCM_SHA256 (0x1301)
				Cipher Suite: TLS_AES_256_GCM_SHA384 (0x1302)
				Cipher Suite: TLS_CHACHA20_POLY1305_SHA256 (0x1303)
				Cipher Suite: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 (0xc02b)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 (0xc02f)
				Cipher Suite: TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 (0xc02c)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 (0xc030)
				Cipher Suite: TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 (0xcca9)
				Cipher Suite: TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 (0xcca8)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA (0xc013)
				Cipher Suite: TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA (0xc014)
				Cipher Suite: TLS_RSA_WITH_AES_128_GCM_SHA256 (0x009c)
				Cipher Suite: TLS_RSA_WITH_AES_256_GCM_SHA384 (0x009d)
				Cipher Suite: TLS_RSA_WITH_AES_128_CBC_SHA (0x002f)
				Cipher Suite: TLS_RSA_WITH_AES_256_CBC_SHA (0x0035)</span>
			Compression Methods Length: 1 
			Compression Methods (1 method) 
			Extensions Length: 403 
			Extension: Reserved (GREASE) (len=0) 
			<span class="pre-span">Extension: server_name (len=20)</span>
				Type: server_name (0) 
				Length: 20 
				Server Name Indication extension 
					Server Name list length: 18 
					Server Name Type: host_name (0) 
					Server Name length: 15 
			<span class="pre-span">Server Name: www.creatio.com</span>
			Extension: renegotiation_info (len=1) 
			Extension: supported_groups (len=10) 
			Extension: ec_point_formats (len=2) 
			Extension: session_ticket (len=0) 
			Extension: application_layer_protocol_negotiation (len=14) 
			Extension: status_request (len=5) 
			<span class="pre-span">Extension: signature_algorithms (len=18)</span>
				Type: signature_algorithms (13) 
				Length: 18 
				Signature Hash Algorithms Length: 16 
				<span class="pre-span">Signature Hash Algorithms (8 algorithms) 
					Signature Algorithm: ecdsa_secp256r1_sha256 (0x0403) 
					Signature Algorithm: rsa_pss_rsae_sha256 (0x0804) 
					Signature Algorithm: rsa_pkcs1_sha256 (0x0401) 
					Signature Algorithm: ecdsa_secp384r1_sha384 (0x0503) 
					Signature Algorithm: rsa_pss_rsae_sha384 (0x0805) 
					Signature Algorithm: rsa_pkcs1_sha384 (0x0501) 
					Signature Algorithm: rsa_pss_rsae_sha512 (0x0806) 
					Signature Algorithm: rsa_pkcs1_sha512 (0x0601)</span>
			Extension: signed_certificate_timestamp (len=0) 
			<span class="pre-span">Extension: key_share (len=43) </span>
				Type: key_share (51) 
				Length: 43 
				Key Share extension 
					Client Key Share Length: 41 
					Key Share Entry: Group: Reserved (GREASE), Key Exchange length: 1 
					<span class="pre-span">Key Share Entry: Group: x25519, Key Exchange length: 32 
						Group: x25519 (29) 
						Key Exchange Length: 32 
						Key Exchange: 83b6fbec5dc7f7ece6a2be6fc065b663ea1c8520f8fb8fb95f41a5d482355243</span>
			Extension: psk_key_exchange_modes (len=2) 
			<span class="pre-span">Extension: supported_versions (len=11) 
				Type: supported_versions (43) 
				Length: 11 
				Supported Versions length: 10 
				Supported Version: Unknown (0x6a6a) 
				Supported Version: TLS 1.3 (0x0304) 
				Supported Version: TLS 1.2 (0x0303) 
				Supported Version: TLS 1.1 (0x0302) 
				Supported Version: TLS 1.0 (0x0301)</span>
			Extension: compress_certificate (len=3) 
			Extension: Reserved (GREASE) (len=1) 
			Extension: padding (len=205) 
</pre>
	</div>
</div>
<div>
	<div class="accordion">CLIENT HELLO</div>
	<div class="panel">
		<pre>
Frame 567: 1514 bytes on wire (12112 bits), 1514 bytes captured (12112 bits) on interface \Device\NPF_{4A5DD31C-669B-4804-88E1-A34A482EA639}, id 0 
Ethernet II, Src: Tp-LinkT_ad:7e:e0 (84:16:f9:ad:7e:e0), Dst: IntelCor_bc:8b:e4 (0c:8b:fd:bc:8b:e4) 
Internet Protocol Version 4, Src: 107.154.248.210, Dst: 192.168.81.155 
Transmission Control Protocol, Src Port: 443, Dst Port: 54380, Seq: 1, Ack: 518, Len: 1460 
Transport Layer Security 
	<span class="pre-span">TLSv1.3 Record Layer: Handshake Protocol: Server Hello
		Content Type: Handshake (22)</span>
		Version: TLS 1.2 (0x0303) 
		Length: 122 
		<span class="pre-span">Handshake Protocol: Server Hello 
			Handshake Type: Server Hello (2)</span>
			Length: 118 
			Version: TLS 1.2 (0x0303) 
			Random: 520e0053d954fdb85281a0ae338607ed8a408e45d16acb04e35a12c453fe636c 
			Session ID Length: 32 
			<span class="pre-span">Session ID: 2918358cd53f65fa9f49a272c8c775bd9ffee82a84903e50d1b048030c0fd49a
			Cipher Suite: TLS_AES_128_GCM_SHA256 (0x1301)</span>
			Compression Method: null (0) 
			Extensions Length: 46 
			<span class="pre-span">Extension: supported_versions (len=2) 
				Type: supported_versions (43) 
				Length: 2 
				Supported Version: TLS 1.3 (0x0304)</span>
			Extension: key_share (len=36) 
				Type: key_share (51) 
				Length: 36 
				Key Share extension 
					Key Share Entry: Group: x25519, Key Exchange length: 32 
						Group: x25519 (29) 
						Key Exchange Length: 32 
						Key Exchange: b81a867d56dfdd60f4134359d1b10242b0fc3ea374e6a836a87583343a30b944 
	<span class="pre-span">TLSv1.3 Record Layer: Change Cipher Spec Protocol: Change Cipher Spec
		Content Type: Change Cipher Spec (20)</span>
		Version: TLS 1.2 (0x0303) 
		Length: 1 
		Change Cipher Spec Message 
	<span class="pre-span">TLSv1.3 Record Layer: Handshake Protocol: Encrypted Extensions 
		Opaque Type: Application Data (23) </span>
		Version: TLS 1.2 (0x0303) 
		Length: 36 
		[Content Type: Handshake (22)] 
		Handshake Protocol: Encrypted Extensions 
			Handshake Type: Encrypted Extensions (8) 
			Length: 15 
			Extensions Length: 13 
			Extension: server_name (len=0) 
			Extension: application_layer_protocol_negotiation (len=5)
</pre>
	</div>
</div>